<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="center stretch"
>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" name="email" />
    </mat-form-field>

    <p class="mat-subheading-2">Establecer contraseña</p>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
            matInput
            name="password"
            [minLength]="PASSWORD_MINLENGTH"
            [maxLength]="PASSWORD_MAXLENGTH"
            [type]="shouldHidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="Contraseña"
        />
        <mat-icon matSuffix (click)="togglePassword()">
            {{ shouldHidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>
            <span *ngIf="form.hasError('required', 'password')">
                Este campo es requerido
            </span>
            <span *ngIf="form.hasError('minlength', 'password')">
                Debe tener por lo menos {{ PASSWORD_MINLENGTH }} caracteres
            </span>
            <span *ngIf="form.hasError('maxlength', 'password')">
                No puede tener más de {{ PASSWORD_MAXLENGTH }} caracteres
            </span>
            <span *ngIf="form.hasError('nonequalsvalidator')">
                El email y el password no pueden ser iguales
            </span>
            <span
                *ngIf="
                    form.hasError('passwordValid', 'password') &&
                    !(
                        form.hasError('minlength', 'password') ||
                        form.hasError('maxlength', 'password') ||
                        form.hasError('nonequalsvalidator') ||
                        form.hasError('required', 'password')
                    )
                "
            >
                Debe tener una mayúscula, minúscula, número y caracter especial.
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirmar contraseña</mat-label>
        <input
            matInput
            name="confirm-password"
            [type]="shouldHideConfirmPassword ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="Repita su contraseña"
            [errorStateMatcher]="confirmPasswordErrorStateMatcher"
        />
        <mat-icon matSuffix (click)="toggleConfirmPassword()">
            {{ shouldHideConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>
            <span *ngIf="form.hasError('required', 'confirmPassword')">
                Este campo es requerido
            </span>
            <span *ngIf="form.hasError('equals') && !form.hasError('required', 'confirmPassword')">
                Las contraseñas no coinciden
            </span>
        </mat-error>
    </mat-form-field>
    <button
        type="submit"
        [disabled]="shouldDisable()"
        mat-flat-button
        color="primary"
    >
        Actualizar
    </button>
</form>
