<form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input
            formControlName="email"
            matInput
            placeholder="ejemplo@ejemplo.com"
            type="text"
            name="email"
        />
        <mat-error>
            <span *ngIf="form.hasError('required', 'email')">
                Este campo es requerido
            </span>
            <span *ngIf="form.hasError('email', 'email')">
                No es un formato válido de email
            </span>
        </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="shouldDisable()">
        Enviar
    </button>
</form>
