:host {
    display: flex;
    flex-direction: column;
}

.container {
    width: 200px;
}

.content {
    padding: 12px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
}
