<div fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field>
            <mat-label>
                {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_TYPE' | translate }}
            </mat-label>
            <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_TYPE' | translate" [value]="payer ? ( 'COMMON.LABELS.DOCUMENT_TYPES.' + payer.documentType | translate): null" disabled />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_NUMBER' | translate }}
            </mat-label>
            <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_NUMBER' | translate" [value]="payer ? payer.nit : null" disabled />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.PAYER' | translate }}
            </mat-label>
            <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.PAYER' | translate" [value]="payer ? payer.enterpriseName  : null" disabled />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.RELATIONSHIP_MANAGER' | translate}}
            </mat-label>
            <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.RELATIONSHIP_MANAGER' | translate" *ngIf="payer.relationshipManager ? payer.relationshipManager.split(',').length <= 1 : true" [value]="payer ? payer.relationshipManager : null" disabled />
            <mat-select *ngIf="payer.relationshipManager ? payer.relationshipManager.split(',').length > 1 : false" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.RELATIONSHIP_MANAGERS' | translate" [(value)]="payer.relationshipManager">
                <mat-option *ngFor="let relationshipManager of payer.relationshipManager.split(',')" [value]="payer.relationshipManager" disabled>
                    {{ relationshipManager }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div>
        <div fxLayoutAlign="space-between center" fxLayoutGap="10px" [style.margin-top]="'20px'">
            <mat-form-field fxLayout="column" fxLayoutGap="10px" [style.width.%]="16.5">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.LINKED_TO_PROVIDER' | translate }}</mat-label>
                <mat-checkbox 
                    *ngFor="let option of linkedToProvider" 
                    [value]="option.value" 
                    [hidden]="!(option.value === (plan?.providerOptions != null))" 
                    [checked]="option.value === (plan?.providerOptions != null)" 
                    [disabled]="true" 
                    style='margin-right: 15px;'
                    >
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.OPTIONS_YES_OR_NO.' + option.label | translate }}
                </mat-checkbox>
                <input matInput type="text" hidden/>
            </mat-form-field>
            <mat-form-field *ngIf="(plan?.providerOptions != null)">
                <mat-label>
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_TYPE' | translate }}
                </mat-label>
                <input 
                    matInput 
                    type="text" 
                    [value]="(plan?.providerOptions != null) ? (('NIT')) : valueNull" 
                    [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_TYPE' | translate" 
                    disabled
                    />
            </mat-form-field>
           <mat-form-field *ngIf="(plan?.providerOptions != null)">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_NUMBER' | translate }}
                </mat-label>
                <input matInput type="text" [value]="plan?.providerOptions?.provider.document" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.DOCUMENT_NUMBER' | translate" disabled/>
            </mat-form-field>
            <mat-form-field *ngIf="(plan?.providerOptions != null)">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.PROVIDER' | translate }}
                </mat-label>
                <input [value]="plan?.providerOptions?.provider.name" matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.PROVIDER' | translate" disabled/>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px" [style.margin-top]="'20px'" class="card info tab">
            <div fxLayout="row">
                <span class="title-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.TURNING_DAY' | translate}}:</span>
                <span class="content-field" *ngIf="(+plan?.paydayInitialRange > 0 && plan?.paydayFinalRange === null)"> {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.TURNING_DAY_LABELS.PAYDAY' | translate: { day: plan?.paydayInitialRange || 0 } }}</span>
                <span class="content-field" *ngIf="(+plan?.paydayInitialRange === 0 && plan?.paydayFinalRange === null)"> {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.TURNING_DAY_LABELS.PAYDAY_ZERO' | translate }}</span>
                <span class="content-field" *ngIf="(+plan?.paydayInitialRange > 0 && plan?.paydayFinalRange !== null)"> {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.TURNING_DAY_LABELS.PAYDAY_RANGE' | translate: { dayInitial: plan?.paydayInitialRange || 0, dayFinal:plan?.paydayFinalRange || 0 } }}</span>
            </div>
            <div fxLayout="row">
                <span class="title-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.FINANCING_TERM.LABEL' | translate }}: </span>
                <span class="content-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.FINANCING_TERM.COMPLEMENT' | translate: { termDays: plan?.termDays || 0, labelDay: 'COMMON.LABELS.'+(+plan?.termDays | i18nPlural: daysPluralMap) | translate | lowercase } }}</span>
            </div>
            <div fxLayout="row">
                <span class="title-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.PAYMENT_METHOD.LABEL' | translate }}: </span>
                <span class="content-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.PAYMENT_METHOD.COMPLEMENT' | translate: { paymentMethod: ( 'CREATE_FINANCIAL_CONDITIONS_FORM.METHODS_OF_PAYMENT.' + plan?.paymentMethod | translate) || 0 } }}</span>
            </div>
            <div fxLayout="row">
                <span class="title-field">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.INTEREST_RATE.LABEL' | translate }}: </span>
                <span class="content-field">
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.INTEREST_RATE.COMPLEMENT' | translate: 
                        { 
                            termDays: plan?.termDays || 0, 
                            labelDay: 'COMMON.LABELS.'+(+plan?.termDays | i18nPlural: daysPluralMap) | translate | lowercase, 
                            baseType: plan?.negotiatedRate?.baseType ,
                            specialRate: plan?.negotiatedRate?.specialRate?.toString().replace(".",","),
                            periodicityType: plan?.negotiatedRate?.periodicityType
                        }
                    }}
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" [style.margin-top]="'20px'" fxLayoutAlign="start center">
            <mat-form-field [style.min-width]="'210px'">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.MINIMUM_RATE' | translate }}
                </mat-label>
                <div fxLayout="row">
                    <div fxLayout="row" style="align-items: flex-start; width: 60%; height: 60%; text-align: left; margin: 5px 0px;">
                        <input [style.width]="'50px'" matInput type="text" [value]="plan?.minimumRate?.baseType" disabled/>
                        <span>+&nbsp;</span>
                    </div>
                    <div style="align-items: flex-end; align-content: flex-end;">
                        <div fxLayoutAlign="space-between center"  fxLayout="row" class="center">
                            <div fxLayoutGap="3px" fxLayout="row">
                                <span>{{ plan?.minimumRate?.specialRate?.toString().replace('.',',') }}</span>
                                <span>%&nbsp;</span>
                                <input [style.width]="'110px'" matInput type="text" [value]="plan?.minimumRate?.periodicityType" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field [style.min-width.px]="100" [style.max-width.px]="150">
                <input matInput type="text" style="text-align: right;" [value]="plan?.minimumRate?.ea" disabled/>
            </mat-form-field>
            <mat-form-field [style.min-width.px]="100" [style.max-width.px]="150">
                <input matInput type="text" style="text-align: right;" [value]="plan?.minimumRate?.mv" disabled/>
            </mat-form-field>
            <mat-form-field fxLayout="column" [style.min-width]="'400px'">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.VALIDITY' | translate }}</mat-label>
                <div fxLayout="row" [style.width.%]="'150px'">
                    <div fxLayoutGap="10px" style="margin: -10px 0px; margin-top: -30px;">
                        <span>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DAYS' | translate }}</span>
                        <mat-form-field [style.width.%]="35" [style.height]="'90px'" appearance="standard">
                            <input matInput type="number" style="text-align: center;" [value]="plan?.validityDays || 0" disabled/>
                        </mat-form-field>
                    </div>
                    <div fxLayoutGap="1px" style="margin: -10px -100px; margin-top: -40px;">
                        <span>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.DATE' | translate }}</span>
                        <mat-form-field appearance="standard" [style.height]="'90px'" [style.width.%]="75">
                            <input matInput type="date" [value]="plan?.validityDate | date: 'yyyy-MM-dd':'+0000'" disabled/>
                        </mat-form-field>
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" [style.margin-top]="'20px'" fxLayoutAlign="space-between center">
            <mat-form-field [style.min-width]="'210px'">    
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.NEGOTIATED_RATE' | translate }}
                </mat-label>
                <div fxLayout="row">
                    <div fxLayout="row" style="align-items: flex-start; width: 60%; height: 60%; text-align: left; margin: 5px 0px;">
                        <input [style.width]="'50px'" matInput type="text" [value]="plan?.negotiatedRate?.baseType" disabled/>
                        <span>+&nbsp;</span>
                    </div>
                    <div style="align-items: flex-end; align-content: flex-end;">
                        <div fxLayoutAlign="space-between center"  fxLayout="row" class="center">
                            <div fxLayoutGap="3px" fxLayout="row">
                                <span>{{ plan?.negotiatedRate?.specialRate?.toString().replace('.',',') }}</span>
                                <span>%&nbsp;</span>
                                <input [style.width]="'110px'" matInput type="text" [value]="plan?.negotiatedRate?.periodicityType" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field [style.min-width.px]="100" [style.max-width.px]="150">
                <input matInput type="text" style="text-align: right;" [value]="plan?.negotiatedRate?.ea" disabled/>
            </mat-form-field>
            <mat-form-field [style.min-width.px]="100" [style.max-width.px]="150">
                <input matInput type="text" style="text-align: right;" [value]="plan?.negotiatedRate?.mv" disabled/>
            </mat-form-field>
            <mat-form-field fxLayout="column" fxLayoutGap="10px" [style.width.%]="16.5">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.SPECIAL_RATE' | translate }}</mat-label>
                <mat-checkbox 
                    *ngFor="let option of specialRate" 
                    [value]="option.value" 
                    [checked]="(!!plan?.isSpecialRate === option.value)" 
                    [disabled]="true" style='margin-right: 15px;' 
                    [hidden]="!(!!plan?.isSpecialRate === option.value)"
                    >
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.OPTIONS_YES_OR_NO.' + option.label | translate }}
                </mat-checkbox>
                <input matInput type="text" hidden/>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="space-between center" fxLayoutGap="10px" [style.margin-top]="'20px'">
            <mat-form-field fxLayout="column" fxLayoutGap="10px" [style.width.%]="16.5">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.ECONOMIC_GROUP' | translate }}</mat-label>
                <input matInput type="text" hidden />
                <mat-checkbox 
                    *ngFor="let option of economicGroup" 
                    [value]="option.value" 
                    [hidden]="!(option.value === (plan?.economicGroup != null))"
                    [checked]="option.value === (plan?.economicGroup != null)"  
                    [disabled]="true" 
                    style='margin-right: 15px;'
                    >
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.OPTIONS_YES_OR_NO.' + option.label | translate }}
                </mat-checkbox>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.ENTERPRISES' | translate }}
                </mat-label>
                <input 
                    *ngIf="(plan?.economicGroup === null) || ((plan?.economicGroup?.length || 0 )<= 1)" 
                    matInput 
                    type="text" 
                    [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.ENTERPRISES' | translate" 
                    [value]="(plan?.economicGroup?.length || 0) === 1 ? (plan?.economicGroup[0].enterpriseName +' - '+ plan?.economicGroup[0].documentNumber) : null" 
                    disabled
                    />
                <mat-select 
                    *ngIf="(plan?.economicGroup !== null) && ((plan?.economicGroup?.length || 0 ) > 1)" 
                    [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.ENTERPRISES' | translate" 
                    [(value)]="plan.economicGroup"
                    >
                    <mat-option *ngFor="let enterprise of plan.economicGroup" [value]="plan.economicGroup" disabled>
                        {{ enterprise.enterpriseName +' - '+ enterprise.documentNumber}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.width.%]="19">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.SALES' | translate }}</mat-label>
                <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.SALES' | translate" [value]="formatSale(plan?.totalSales.toString())" disabled/>
                <button type="button" mat-icon-button matSuffix (click)="showSalesTable()" style="font-size: 18px; align-items: flex-end; width: auto; height: 20%; text-align: center; margin: 5px 0px;">
                    <mat-icon *ngIf="(plan.economicGroup?.length || 0) > 0"
                        [matTooltip]="'CREATE_FINANCIAL_CONDITIONS_FORM.SALES_TABLE' | translate"
                        style="font-size: 18px; align-items: flex-end; width: auto; height: 20%; text-align: center; margin: 5px 0px;"
                        >info_outline</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field [style.width.%]="16.5">
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.SALES_CUT' | translate }}
                </mat-label>
                <input matInput type="text" [placeholder]="'CREATE_FINANCIAL_CONDITIONS_FORM.SALES_CUT' | translate" [value]="formatSalesCut(plan?.salesCut)" disabled/>
            </mat-form-field>
        </div>
        <div fxLayoutGap="10px" fxLayout="row" [style.margin-top]="'20px'" *ngIf="(plan?.providerOptions != null)">
            <mat-form-field fxLayout="column" fxLayoutGap="10px" [style.width.%]="16.5">
                <input matInput type="text" hidden />
                <mat-label>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.AGREEMENT' | translate }}</mat-label>
                <mat-checkbox 
                    *ngFor="let option of agreement" 
                    [value]="option.value" 
                    [hidden]="!(option.value === !!plan?.providerOptions?.hasAgreement)" 
                    [checked]="!!plan?.providerOptions?.hasAgreement === option.value" 
                    [disabled]="true" 
                    style='margin-right: 15px;'
                    >
                    {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.OPTIONS_YES_OR_NO.' + option.label | translate }}
                </mat-checkbox>
            </mat-form-field>
            <div fxLayout="column" fxLayoutGap="10px" [style.width.px]="370" class="card tab">
                <span style="text-align: start;">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.REQUIRED_AUTHORIZATION' | translate }}</span>
                <div fxLayout="row" fxLayoutGap="10px" >
                    <mat-checkbox 
                        *ngFor="let option of requiredAuthorization" 
                        [value]="option.value" 
                        [checked]="(!!plan?.providerOptions?.requireAuthToPerformOperation === option.value)" 
                        [hidden]="!(!!plan?.providerOptions?.requireAuthToPerformOperation === option.value)" 
                        [disabled]="true" style='margin-right: 15px;'
                        >
                        {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.OPTIONS_YES_OR_NO.' + option.label | translate }}
                    </mat-checkbox>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" style="align-items: flex-start;" *ngIf="(!!plan?.providerOptions?.requireAuthToPerformOperation)">
                    <span style="text-align: start;">{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.REQUEST_AUTHORIZATION' | translate }}</span>
                    <div fxLayoutAlign="space-between center"  fxLayout="row" class="center">
                        <div fxLayoutGap="10px">
                            <mat-form-field fxLayoutGap="10px" [style.width.%]="40">
                                <input matInput type="text" [value]="plan?.providerOptions?.authDay" disabled/>
                            </mat-form-field>
                            <span class="center">FEF</span>
                        </div>
                        <mat-checkbox 
                            class="center" 
                            [disabled]="true" 
                            [checked]="(!plan?.providerOptions?.authDay) && (!!plan?.providerOptions?.requireAuthToPerformOperation)" 
                            [hidden]="!!plan?.providerOptions?.authDay"
                            >
                            {{ 'CREATE_FINANCIAL_CONDITIONS_FORM.ALWAYS' | translate }}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>        
        <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px" [style.margin-top]="'20px'">
            <mat-form-field [style.width.px]="550">
                <mat-icon style="display: inline-block; position: relative; top:-35px; left: 67px; transform: scale(0.6);" [matTooltip]="'CREATE_FINANCIAL_CONDITIONS_FORM.COMMENTS_ICON' | translate">help_outline</mat-icon>
                <mat-label style="padding-right: 18px;">{{ 'COMMON.LABELS.COMMENTS' | translate }}</mat-label>
                <textarea [style.min-height.px]="50" [style.margin-top.px]="-35" [disabled]="true" [value]="plan?.comments" matInput type="text" autocomplete='off' rows='4' maxlength='200'></textarea>
            </mat-form-field>
        </div>
        <mat-checkbox [disabled]="true" [checked]="(plan?.isPunctualPlan)">
            {{  'COMMON.LABELS.PUNCTUAL_PLAN' | translate }}
        </mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="space-between center" [style.margin-top]="'20px'">
            <div fxLayout="row" fxLayoutGap="6px">
                <span>{{ 'CREATE_FINANCIAL_CONDITIONS_FORM.VISUALIZE_PLAN' | translate }}</span>
                <mat-checkbox [disabled]="true" [checked]="((plan?.clientPermissions)?plan?.clientPermissions.includes('DAYS'):false)">
                    {{  'COMMON.LABELS.DAYS' | translate }}
                </mat-checkbox>
                <mat-checkbox [disabled]="true" [checked]="((plan?.clientPermissions)?plan?.clientPermissions.includes('RATE'):false)">
                    {{  'COMMON.LABELS.RATE' | translate }}
                </mat-checkbox>
            </div>
        </div>
        <div *ngIf="this.plan.evidenceFile" fxLayoutGap="10px" fxLayout="row" [style.margin-top]="'20px'" style="justify-content: center;">
            <iframe [src]="url" height="500" style='width: 900px !important;'></iframe>
        </div>
    </div>