.row {
    cursor: pointer;

    &:not(.disabled):hover {
        background: rgba(0, 0, 0, 0.02);
    }

    &.disabled {
        cursor: initial;
    }

    & td {
        border-bottom-width: 0;
    }
}

tr.detail-row {
    height: 0;
    background: rgba(0, 0, 0, 0.03);
}

.entity-detail {
    overflow: hidden;
    flex-direction: column;
    justify-content: stretch;
    display: flex;

    & .element-detail-content {
        padding: 12px 0;
    }
}
