<div style="overflow: auto">
    <table
        mat-table
        [dataSource]="entities"
        multiTemplateDataRows
        [trackBy]="trackBy"
    >
        <ng-container matColumnDef="payer">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.PAYMENT' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.payer?.enterpriseName }}
            </td>
        </ng-container>
        <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.NIT' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.payer?.nit }}
            </td>
        </ng-container>
        <ng-container matColumnDef="requestedQuota">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.REQUESTED_QUOTE' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.requestedQuota | currency: 'COL' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.APPLICATION_DATE' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.creationDate | date }}
            </td>
        </ng-container>
        <ng-container matColumnDef="requestType">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.TYPE_REQUEST' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{
                    'COMMON.LENDER_QUOTA_REQUEST_TYPE.' +
                        entity.state.requestType | translate
                }}
            </td>
        </ng-container>
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.OBSERVATIONS' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.lenderComments }}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'LENDER_QUOTA_REQUEST_TABLE.STATUS' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                <status-chip [status]="entity.state.status">
                    {{
                        'COMMON.LENDER_QUOTA_REQUEST_STATUS.' +
                            entity.state.status | translate
                    }}
                </status-chip>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let entity"
                [attr.colspan]="displayedColumns.length"
            >
                <div
                    class="entity-detail"
                    [@detailExpand]="
                        entity.ui.expanded ? 'expanded' : 'collapsed'
                    "
                >
                    <div
                        fxLayout="row"
                        fxLayoutGap="12px"
                        class="element-detail-content"
                    >
                        <div fxFlex>
                            <h3 class="mat-title text-primary">
                                {{
                                    'LENDER_QUOTA_REQUEST_TABLE.OBSERVATIONS'
                                        | translate
                                }}
                            </h3>
                            <span class="mat-body">
                                {{ entity.state.payerComments }}
                            </span>
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div fxFlex>
                            <lender-quota-request-form
                                (onSubmit)="onAssign(entity.state.id, $event)"
                                (reject)="onReject(entity.state.id)"
                                (assign)="onSubmit(entity.state.id, $event)"
                                [request]="entity.state"
                            ></lender-quota-request-form>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            (click)="onToggle(entity)"
            mat-row
            *matRowDef="let entity; columns: displayedColumns"
            class="row"
            [class.disabled]="
                entity.state.status == LENDER_QUOTA_REQUEST_STATUS.APPROVED ||
                entity.state.status == LENDER_QUOTA_REQUEST_STATUS.REJECTED
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let entity; columns: ['expandedDetail']"
            class="detail-row"
        ></tr>
    </table>
</div>
