<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="start stretch"
>
    <mat-form-field>
        <mat-label>
            {{ 'THEME_FORM.PRIMARY' | translate }}
        </mat-label>
        <input
            type="color"
            matInput
            name="primary-color"
            formControlName="primaryColor"
        />
        <mat-error>
            <span *ngIf="form.hasError('required', 'primaryColor')">
                {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
            </span>
            <span *ngIf="form.hasError('color', 'primaryColor')">
                {{ 'COMMON.VALIDATIONS.INVALID_COLOR' | translate }}
            </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-focused">
        <mat-label>
            {{ 'THEME_FORM.SECONDARY' | translate }}
        </mat-label>
        <input
            type="color"
            matInput
            name="accent-color"
            formControlName="accentColor"
        />
        <mat-error>
            <span *ngIf="form.hasError('required', 'accentColor')">
                {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
            </span>
            <span *ngIf="form.hasError('color', 'accentColor')">
                {{ 'COMMON.VALIDATIONS.INVALID_COLOR' | translate }}
            </span>
        </mat-error>
    </mat-form-field>
    <button
        [disabled]="shouldDisable()"
        fxFlexAlign="end"
        type="submit"
        mat-flat-button
        color="primary"
    >
        {{ 'COMMON.ACTIONS.SAVE' | translate | uppercase }}
    </button>
</form>
