<mat-toolbar fxLayout="row" color="primary" class="mat-elevation-z1">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <img width="18%" class="menu-logo" alt="Logo Banco Occidente" src="/enterprise/assets/images/LogoMenu.png">
    <div *ngIf="(loadedLogo$ | async)" [style.background-image]="logo$ | async" alt="Logo" class="logo-container"></div>
    <span fxFlex></span>
    <!-- <button mat-icon-button>
        <mat-icon>notifications_none</mat-icon>
    </button> -->
    <mat-spinner *ngIf="(isChangingLanguage$ | async)" [diameter]="20" color="accent"></mat-spinner>
    <button mat-button [matMenuTriggerFor]="lang">
        {{ currentLanguage$ | async | uppercase }}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #lang="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let language of (languages$ | async)" (click)="onChangeLanguage(language)">
            {{ language.description }} ({{ language.code | uppercase }})
        </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">
        {{ email$ | async }} &#x25BE;
        <!-- <mat-icon>arrow_drop_down</mat-icon> -->
    </button>
    <mat-menu #appMenu="matMenu" xPosition="before">
        <a routerLink="/roles" mat-menu-item>{{ 'CORE_LAYOUT.CHANGE_MODULE' | translate }}</a
        >
        <a routerLink="/core/profile" mat-menu-item
            >{{ 'CORE_LAYOUT.PROFILE' | translate }}</a
        >
        <mat-divider></mat-divider>
        <button (click)="onSignOut()" mat-menu-item>
            {{ 'COMMON.ACTIONS.LOGOUT' | translate }}
        </button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container fxFlex fxLayout="column">
    <mat-sidenav #sidenav [mode]="mode$ | async" opened class="sidenav">
        <mat-nav-list dense>
            <ng-container *ngIf="(isPayer$ | async)">
                <h3 mat-subheader>
                    {{ 'CORE_LAYOUT.PROVIDERS.TITLE' | translate }}
                </h3>
                <a
                    mat-list-item
                    routerLink="/core/providers"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    {{ 'CORE_LAYOUT.PROVIDERS.LIST' | translate }}
                </a>
        <a mat-list-item routerLink="/core/providers/bulk" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.PROVIDERS.BULK_LOADS' | translate }}
                </a>
        <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="(isFunding$ | async)">
            <h3 mat-subheader>
                {{ 'CORE_LAYOUT.PAYERS.TITLE' | translate }}
            </h3>
            <a mat-list-item routerLink="/core/payers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.PAYERS.LINKED' | translate }}
                </a>
            <a mat-list-item routerLink="/core/payers/custom-attributes" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.PAYERS.PERSONALIZATION' | translate }}
                </a>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="(isPayer$ | async)">
            <h3 mat-subheader>
                {{ 'CORE_LAYOUT.FUNDING.TITLE' | translate }}
            </h3>
            <a mat-list-item routerLink="/core/lenders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.FUNDING.REQUEST' | translate }}
                </a>
            <a mat-list-item routerLink="/core/lenders/linked" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.FUNDING.LINKED' | translate }}
                </a>
            <a mat-list-item routerLink="/core/lenders/available" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.FUNDING.AVAILABLE' | translate }}
                </a>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="(shouldRenderInvoiceMenu$ | async)">
            <h3 mat-subheader>
                {{ 'CORE_LAYOUT.INVOICES.TITLE' | translate }}
            </h3>
            <a *ngIf="(isPayer$ | async)" mat-list-item routerLink="/core/payer-invoices" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.LIST' | translate }}
                </a>
            <a *ngIf="(isProvider$ | async)" mat-list-item routerLink="/core/provider-invoices" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.LIST' | translate }}
                </a>
            <a *ngIf="(isPayer$ | async)" mat-list-item routerLink="/core/invoices/bulk" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.BULK_LOADS' | translate }}
                </a>
            <a *ngIf="(isPayer$ | async)" mat-list-item routerLink="/core/payer-invoices/bulk-negotiations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.BULK_NEGOTIATIONS' | translate }}
                </a>
            <a *ngIf="(isProvider$ | async)" mat-list-item routerLink="/core/provider-invoices/bulk-negotiations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.BULK_NEGOTIATIONS' | translate }}
                </a>
            <a *ngIf="(isPayer$ | async)" mat-list-item routerLink="/core/invoices/custom-attributes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.INVOICES.PERSONALIZATION' | translate }}
                </a>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="(isFunding$ | async)">
            <h3 mat-subheader>
                {{ 'CORE_LAYOUT.REQUEST.TITLE' | translate }}
            </h3>
            <a mat-list-item routerLink="/core/lenders/requests" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.REQUEST.FUNDING' | translate }}
                </a>
            <a mat-list-item routerLink="/core/lenders/quota-requests" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CORE_LAYOUT.REQUEST.QUOTA' | translate }}
                </a>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="(isAdmin$ | async)">
            <a mat-list-item routerLink="/core/users" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.USERS_MANAGEMENT' | translate }}
                </a>
            <mat-divider></mat-divider>
            <h3 mat-subheader>
                {{ 'CORE_LAYOUT.MY_ENTERPRISE.TITLE' | translate }}
            </h3>
            <a mat-list-item routerLink="/core/my-enterprise" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.MY_ENTERPRISE.BASIC_INFO' | translate }}
                </a>
            <a mat-list-item routerLink="/core/my-enterprise/documentation" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.MY_ENTERPRISE.DOCUMENTATION' | translate }}
                </a>
            <a *ngIf="isPayerAdmin$ | async" mat-list-item routerLink="/core/my-enterprise/financial-conditions" routerLinkActive="active">
                    {{ 'CORE_LAYOUT.MY_ENTERPRISE.FINANCIAL_CONDITIONS' | translate }}
                </a>
            <mat-divider></mat-divider>
        </ng-container>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="page-container" fxLayout="column" fxFlex="1 1 auto">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        </mat-sidenav-container>