<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
    >
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'BULK_INVOICE_NEGOTIATION_FORM.DISCOUNT_TYPE' | translate }}
            </mat-label>
            <mat-select formControlName="discountType">
                <mat-option
                    [value]="item.value"
                    *ngFor="let item of (DISCOUNT_TYPE | keyvalue)"
                >
                    {{
                        'COMMON.NEGOTIATION_DISCOUNT_TYPE.' + item.value
                            | translate
                    }}
                </mat-option>
            </mat-select>
            <mat-error>
                <span>
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'BULK_INVOICE_NEGOTIATION_FORM.INVESTOR' | translate }}
            </mat-label>
            <input
                type="text"
                matInput
                name="lender"
                formControlName="lender"
                [matAutocomplete]="auto"
            />
            <mat-error>
                {{ 'ENTERPRISE_FORM.FUNDING_REQUEST' | translate }}
            </mat-error>
            <mat-icon
                *ngIf="(error$ | async)"
                matSuffix
                matTooltip="Error al hacer la busqueda. Compruebe su conexión."
                color="warn"
            >
                error_outline
            </mat-icon>
            <mat-spinner
                *ngIf="(isLoading$ | async)"
                [diameter]="25"
                mode="indeterminate"
                matSuffix
            ></mat-spinner>
            <span matSuffix>{{ form.value.lender?.nit }}</span>
            <mat-autocomplete
                [displayWith]="displayWith"
                #auto="matAutocomplete"
            >
                <mat-option
                    *ngFor="let enterprise of (enterprises$ | async)"
                    [value]="enterprise"
                >
                    {{ enterprise.enterpriseName }} ({{ enterprise.nit }})
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
    >
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'BULK_INVOICE_NEGOTIATION_FORM.PERCENTAGE' | translate }}
            </mat-label>
            <input
                style="text-align: right;"
                type="number"
                name="percentage"
                matInput
                formControlName="percentage"
            />
            <span matSuffix>%</span>
            <mat-error>
                <span *ngIf="form.hasError('required', 'percentage')">
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
                <span *ngIf="form.hasError('min', 'percentage')">
                    {{
                        'BULK_INVOICE_NEGOTIATION_FORM.ERRORS.PERCENTAGE_MIN'
                            | translate
                                : {
                                      value: form.get('percentage').errors.min
                                          .min
                                  }
                    }}
                </span>
                <span *ngIf="form.hasError('max', 'percentage')">
                    {{
                        'BULK_INVOICE_NEGOTIATION_FORM.ERRORS.PERCENTAGE_MAX'
                            | translate
                                : {
                                      value: form.get('percentage').errors.max
                                          .max
                                  }
                    }}
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{
                    'BULK_INVOICE_NEGOTIATION_FORM.EXPECTED_PAYMENT_DATE'
                        | translate
                }}
            </mat-label>
            <input
                matInput
                name="expected-payment-date"
                formControlName="expectedPaymentDate"
                [matDatepicker]="picker"
                [min]="tomorrow"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                <span *ngIf="form.hasError('required', 'expectedPaymentDate')">
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
                <span
                    *ngIf="
                        form.hasError('matDatepickerMin', 'expectedPaymentDate')
                    "
                >
                    {{ 'COMMON.VALIDATIONS.BEFORE_TODAY' | translate }}
                </span>
            </mat-error>
        </mat-form-field>
    </div>
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
    >
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{
                    'BULK_INVOICE_NEGOTIATION_FORM.DISCOUNT_DUE_DATE'
                        | translate
                }}
            </mat-label>
            <input
                matInput
                name="discount-due-date"
                formControlName="discountDueDate"
                [matDatepicker]="dueDatePicker"
                [min]="tomorrow"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="dueDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            <mat-error>
                <span *ngIf="form.hasError('required', 'discountDueDate')">
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
                <span
                    *ngIf="form.hasError('matDatepickerMin', 'discountDueDate')"
                >
                    {{ 'COMMON.VALIDATIONS.BEFORE_TODAY' | translate }}
                </span>
            </mat-error>
        </mat-form-field>
        <div fxFlex.gt-xs></div>
    </div>
    <mat-divider style="margin: 16px 0"></mat-divider>
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
    >
        <div fxFlex.gt-xs></div>
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'BULK_INVOICE_NEGOTIATION_FORM.SEARCH_LABEL' | translate }}
            </mat-label>
            <input matInput name="search" [formControl]="searchControl" />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="12px">
        <p fxFlex class="mat-body">
            {{
                'BULK_INVOICE_NEGOTIATION_FORM.SELECTED_INVOICES'
                    | translate: { value: form.value.invoices.length }
            }}
        </p>
        <div fxFlex fxLayout="row">
            <p fxFlex="40%" class="mat-body">
                {{
                    'BULK_INVOICE_NEGOTIATION_FORM.AVAILABLE_QUOTA' | translate
                }}
            </p>
            <p fxFlex class="mat-body-2">
                {{ form.value.lender?.availableQuota | currency: currencyCode }}
            </p>
        </div>
    </div>
    <invoice-picker
        [invoices]="filteredInvoices$ | async"
        [total]="invoices.length"
        formControlName="invoices"
    ></invoice-picker>
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
        style="margin-top: 16px"
    >
        <div fxFlex.gt-xs fxLayout="row">
            <ng-container *ngIf="(isInvalidQuota$ | async)">
                <mat-icon color="warn">error_outline</mat-icon>
                <span class="mat-body">
                    {{
                        'BULK_INVOICE_NEGOTIATION_FORM.ERRORS.INVALID_QUOTA'
                            | translate
                    }}
                </span>
            </ng-container>
        </div>
        <div fxFlex.gt-xs fxLayout="column">
            <div fxLayout="row">
                <p fxFlex="40%" class="mat-body">
                    {{ 'BULK_INVOICE_NEGOTIATION_FORM.TOTAL' | translate }}
                </p>
                <p fxFlex class="mat-body-2">
                    {{ total$ | async | currency: currencyCode }}
                </p>
            </div>
            <div fxLayout="row">
                <p fxFlex="40%" class="mat-body">
                    {{ 'BULK_INVOICE_NEGOTIATION_FORM.DISCOUNT' | translate }}
                </p>
                <p fxFlex class="mat-body-2">
                    {{ discount$ | async | currency: currencyCode }}
                </p>
            </div>
            <div fxLayout="row">
                <p fxFlex="40%" class="mat-body">
                    {{ 'BULK_INVOICE_NEGOTIATION_FORM.SUBTOTAL' | translate }}
                </p>
                <p fxFlex class="mat-body-2">
                    {{ subtotal$ | async | currency: currencyCode }}
                </p>
            </div>
            <div fxLayout="row">
                <p fxFlex="40%" class="mat-body">
                    {{
                        'BULK_INVOICE_NEGOTIATION_FORM.REMAINING_QUOTA'
                            | translate
                    }}
                </p>
                <p
                    fxFlex
                    class="mat-body-2"
                    [class.text-alternate-primary]="isValidQuota$ | async"
                    [class.text-warn]="isInvalidQuota$ | async"
                >
                    {{ remainingQuota$ | async | currency: currencyCode }}
                </p>
            </div>
        </div>
    </div>
    <button #submitButton hidden type="submit"></button>
</form>
