<div fxLayout="column">
    <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="page-toolbar"
    >
        <span class="mat-headline no-margin"
            >{{ 'USER_LIST_PAGE.TITLE' | translate }}</span
        >
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
            <user-list-filter-form
                [filters]="filters$ | async"
                (onSubmit)="onChangeFilters($event)"
            ></user-list-filter-form>
            <button (click)="onInviteUser()" mat-flat-button color="primary">
                {{ 'USER_LIST_PAGE.ACTION_INVITE' | translate | uppercase }}
            </button>
        </div>
    </div>

    <div class="page-content progress-bar-container mat-elevation-z1 table-container">
        <mat-progress-bar
            *ngIf="(isLoading$ | async)"
            mode="indeterminate"
        ></mat-progress-bar>
        <user-table
            (delete)="onDeleteUser($event)"
            (edit)="onEditUser($event)"
            (toggleStatus)="onToggleStatus($event)"
            (resend)="onResendInvitation($event)"
            [entities]="entities$ | async"
        ></user-table>
        <mat-paginator
            [showFirstLastButtons]="true"
            [pageSize]="size$ | async"
            [length]="total$ | async"
            [pageIndex]="index$ | async"
            [pageSizeOptions]="PAGE_SIZE_OPTIONS"
            (page)="onChangePage($event)"
        ></mat-paginator>
    </div>
</div>
