<div fxLayout="column">
    <h2 class="mat-title">Recuperar contraseña</h2>
    <p class="mat-body">
        Te enviaremos un correo electrónico con un enlace para restablecer tu 
        contraseña. Si persiste el problema contactarse con el área de Unidirecto y Factoring.
    </p>
    <forgot-password-form
        [isSubmitting]="isSendingRecoveryEmail$ | async"
        (onSubmit)="onSubmit($event)"
    ></forgot-password-form>
    <a routerLink="/sign-in" mat-button [style.margin-top.px]="10">
        Regresar
    </a>
</div>
