<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    fxLayout="row"
    fxLayoutGap="12px"
>
    <button
        type="button"
        mat-button
        *ngIf="!shouldRenderResetButton()"
        (click)="onReset()"
    >
    {{ 'COMMON.LABELS.CLEAN_FILTERS' | translate }}
    </button>
    <mat-form-field appearance="standard">
        <mat-label>{{ 'COMMON.LABELS.FILTER_BY' | translate }}</mat-label>
        <mat-select formControlName="filter_by">
            <mat-option [value]="lenderInvoiceRequestPaginationFilterBy.payer">
                {{ 'COMMON.FILTERS.PAYER' | translate }}
            </mat-option>
            <mat-option
                [value]="
                    lenderInvoiceRequestPaginationFilterBy.effectivePaymentDate
                "
            >
                {{ 'COMMON.FILTERS.EFFECTIVE_PAYMENT_DATE' | translate }}
            </mat-option>
            <mat-option
                [value]="
                    lenderInvoiceRequestPaginationFilterBy.expectedPaymentDate
                "
            >
                {{ 'COMMON.FILTERS.EXPECTED_PAYMENT_DATE' | translate }}
            </mat-option>
            <mat-option [value]="lenderInvoiceRequestPaginationFilterBy.status">
                {{ 'COMMON.FILTERS.STATUS' | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" *ngIf="shouldRenderTextInput()">
        <input matInput formControlName="q" type="text" name="query" />
    </mat-form-field>
    <mat-form-field appearance="standard" *ngIf="shouldRenderSelect()">
        <mat-select formControlName="q" type="number" name="query">
            <mat-option
                [value]="LENDER_INVOICE_STATUS.LENDER_PAYMENT_CONFIRMATION"
            >
            {{ 'COMMON.LENDER_STATUS.LENDER_PAYMENT_CONFIRMATION' | translate }}
            </mat-option>
            <mat-option
                [value]="
                    LENDER_INVOICE_STATUS.PENDING_LENDER_PAYMENT_CONFIRMATION
                "
            >
            {{ 'COMMON.LENDER_STATUS.PENDING_LENDER_PAYMENT_CONFIRMATION' | translate }}
            </mat-option>
            <mat-option
                [value]="
                    LENDER_INVOICE_STATUS.PENDING_PROVIDER_PAYMENT_CONFIRMATION
                "
            >
            {{ 'COMMON.LENDER_STATUS.PENDING_PROVIDER_PAYMENT_CONFIRMATION' | translate }}
            </mat-option>
            <mat-option
                [value]="LENDER_INVOICE_STATUS.PROVIDER_PAYMENT_CONFIRMATION"
            >
            {{ 'COMMON.LENDER_STATUS.PROVIDER_PAYMENT_CONFIRMATION' | translate }}
            </mat-option>
            <mat-option [value]="LENDER_INVOICE_STATUS.REJECTED">
            {{ 'COMMON.LENDER_STATUS.REJECTED' | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" *ngIf="shouldRenderDatepicker()">
        <input
            formControlName="q"
            name="date"
            type="text"
            matInput
            [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>
