<form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    (ngSubmit)="onSubmit()"
>
    <h3 class="mat-title">Ingresa los datos para inciar sesión</h3>
    <label for="email">Correo electrónico</label>
    <mat-form-field>
        <input
            name="email"
            formControlName="email"
            matInput
            placeholder="Ingresa tu correo electrónico"
            type="text"
            autocapitalize="none"
        />
        <mat-error>
            <span *ngIf="form.hasError('required', 'email')">
                Este campo es requerido
            </span>
            <span *ngIf="form.hasError('email', 'email')">
                No es un formato válido de email
            </span>
        </mat-error>
    </mat-form-field>
    <label for="password">Contraseña</label>
    <mat-form-field>
        
        <input
            name="password"
            [type]="shouldHidePassword ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Ingresa tu contraseña"
            autocapitalize="none"
        />
        <mat-icon matSuffix (click)="togglePassword()">
            {{ shouldHidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>
            Este campo es requerido
        </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="center" [style.margin-bottom.px]="10">
        <a mat-button routerLink="/forgot-password" color="primary">
            ¿Olvidates la contraseña?
        </a>
    </div>
    <button mat-flat-button type="submit"  [disabled]="shouldDisable()">
        Iniciar sesión
    </button>
    <button mat-flat-button type="button"  (click)="federatedSignIn()" >
        Iniciar sesión HOSTED UI
    </button>
    <div fxLayoutAlign="center">
        <p class="mat-body">
            <span>¿No tienes una cuenta? </span>
            <a routerLink="/sign-up"> Regístrate</a>
        </p>
    </div>
</form>
