
label{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;

}
h3.mat-title {
    font-size: 18px;
    color: #474747;
}
form.ng-untouched.ng-pristine.ng-invalid {
    padding: 20px;
    border: 1px solid #ECECEC;
    border-radius: 11px;
}
button.mat-flat-button.mat-button-base {
    margin-top: 11px;
}

button.mat-flat-button.mat-button-base{
    border: 1px solid #e2e2e2;
    border-radius: 31px;
    text-transform: inherit;
}