<form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="start stretch"
>
    <div fxLayout="row" fxLayoutGap="12px">
        <mat-form-field fxFlex>
            <mat-label>{{
                'CONFIRM_PAYMENT_FORM.EFFECTIVE_PAYMENT_DATE' | translate
            }}</mat-label>
            <input
                formControlName="effectivePaymentDate"
                matInput
                name="effective-payment-date"
                [matDatepicker]="picker"
                [placeholder]="'CONFIRM_PAYMENT_FORM.CHOOSE_DATE' | translate"
                [max]="today"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{
                'CONFIRM_PAYMENT_FORM.EFECTIVE_PAYMENT_AMOUNT' | translate
            }}</mat-label>
            <input
                formControlName="effectivePaymentAmount"
                min="1"
                matInput
                name="effective-payment-amount"
                (blur)="onBlur()"
            />
            <mat-error>
                <span
                    *ngIf="form.hasError('required', 'effectivePaymentAmount')"
                >
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
                <span *ngIf="form.hasError('min', 'effectivePaymentAmount')">
                    {{ 'COMMON.VALIDATIONS.NEGATIVE_NUMBER' | translate }}
                </span>
            </mat-error>
        </mat-form-field>
    </div>
    <mat-form-field>
        <mat-label>{{
            'CONFIRM_PAYMENT_FORM.PAYMENT_COMMENTS' | translate
        }}</mat-label>
        <textarea
            formControlName="comments"
            matInput
            name="reason"
            rows="3"
        ></textarea>
    </mat-form-field>
    <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        ngx-file-dropzone
        #dropzone="ngxFileDropzone"
        formControlName="file"
        accept="image/*, .pdf"
    >
        <ng-container *ngIf="!form.value.file">
            <h2 class="mat-title">
                {{ 'FILE_DROPZONE.MESSAGE_TWO' | translate }}
            </h2>
            <span class="mat-body">{{ 'FILE_DROPZONE.OR' | translate }}</span>
            <button
                type="button"
                (click)="dropzone.browse()"
                mat-flat-button
                color="primary"
            >
                {{ 'FILE_DROPZONE.SEARCH_FILE' | translate | uppercase }}
            </button>
        </ng-container>
        <ng-container *ngIf="form.value.file">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                <div
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="12px"
                >
                    <mat-icon>insert_drive_file</mat-icon>
                    <div fxLayout="column">
                        <span class="mat-body-2">
                            {{ form.value.file.name }}
                        </span>
                        <span class="mat-body">
                            {{
                                form.value.file.size
                                    | ngezBytes: null:'kibibyte'
                                    | number: '1.1-1'
                            }}
                            KB
                        </span>
                    </div>
                </div>
                <mat-icon *ngIf="form.get('file').valid" color="primary">
                    check_circle
                </mat-icon>
                <mat-icon
                    *ngIf="form.hasError('fileType', 'file')"
                    [matTooltip]="'COMMON.VALIDATIONS.SOME_FILES' | translate"
                    matTooltipPosition="after"
                    color="warn"
                >
                    error
                </mat-icon>
            </div>
            <button
                type="button"
                (click)="dropzone.browse()"
                mat-flat-button
                color="accent"
            >
                {{ 'FILE_DROPZONE.REPLACE_FILE' | translate | uppercase }}
            </button>
        </ng-container>
    </div>
    <button
        type="submit"
        hidden
        #submitButton
        [disabled]="shouldDisable()"
    ></button>
</form>
