<form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">
    <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign.xs="start"
        fxLayoutAlign.gt-xs="stretch"
        fxLayoutGap.gt-xs="12px"
    >
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'CUSTOM_ATTRIBUTE_FORM.FIELD_NAME' | translate }}
            </mat-label>
            <input
                formControlName="name"
                name="attribute-name"
                type="text"
                matInput
            />
            <mat-error>
                <span *ngIf="form.hasError('required', 'name')">
                    {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
                </span>
                <span *ngIf="form.hasError('whitespace', 'name')">
                    {{ 'COMMON.VALIDATIONS.NO_CONTENT' | translate }}
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs>
            <mat-label>
                {{ 'CUSTOM_ATTRIBUTE_FORM.FIELD_TYPE' | translate }}
            </mat-label>
            <mat-select name="attribute-type" formControlName="type">
                <mat-option [value]="ENTERPRISE_CUSTOM_ATTRIBUTE_TYPE.TEXT">
                    {{ 'CUSTOM_ATTRIBUTE_FORM.FIELD_TYPES.TEXT' | translate }}
                </mat-option>
                <mat-option [value]="ENTERPRISE_CUSTOM_ATTRIBUTE_TYPE.DATE">
                    {{ 'CUSTOM_ATTRIBUTE_FORM.FIELD_TYPES.DATE' | translate }}
                </mat-option>
                <mat-option [value]="ENTERPRISE_CUSTOM_ATTRIBUTE_TYPE.INTEGER">
                    {{
                        'CUSTOM_ATTRIBUTE_FORM.FIELD_TYPES.INTEGER' | translate
                    }}
                </mat-option>
                <mat-option [value]="ENTERPRISE_CUSTOM_ATTRIBUTE_TYPE.DECIMAL">
                    {{
                        'CUSTOM_ATTRIBUTE_FORM.FIELD_TYPES.DECIMAL' | translate
                    }}
                </mat-option>
            </mat-select>
            <mat-error>
                {{ 'COMMON.VALIDATIONS.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
        <button (click)="onCancel()" mat-button type="button">
            {{ 'COMMON.ACTIONS.CANCEL' | translate | uppercase }}
        </button>
        <button
            [disabled]="shouldDisable()"
            mat-flat-button
            color="primary"
            type="submit"
        >
            {{ 'COMMON.ACTIONS.SAVE' | translate | uppercase }}
        </button>
    </div>
</form>
