<div style="overflow: auto">
    <table
        mat-table
        class="wide"
        [dataSource]="entities"
    >
        <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.PROVIDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ entity.state.provider && entity.state.provider.enterpriseName ? entity.state.provider.enterpriseName : 'N/A' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="identification_number">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.IDENTIFICATION_NUMBER' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{  (entity.state.provider && entity.state.provider.documentNumber) ? entity.state.provider.documentNumber : 'N/A'  }}
            </td>
        </ng-container>

        <ng-container matColumnDef="modality">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.MODALITY' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                <a
                class="mat-body"
                style="cursor: hand; cursor: pointer; color: blue; text-decoration: underline;"
                (click)="showDetail(entity.state.id, entity.state.status)"
            >
                {{ 'FINANCIAL_CONDITIONS_TABLE.MODALITY_OPTIONS.' + entity.state.type | translate }}
            </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.DESCRIPTION' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                {{ 'FINANCIAL_CONDITIONS_TABLE.DESCRIPTION_OPTIONS.' + entity.state.type | translate }}
            </td>
        </ng-container>

        <ng-container matColumnDef="summary">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.SUMMARY' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity" style="max-width:150px !important; word-wrap: break-word;">
                <div *ngIf="entity.state?.type === 'COMMISSION' && entity.state?.summary">
                    {{(entity.state?.summary?.termDays)?entity.state?.summary?.termDays +' días':''}}
                    {{(entity.state?.summary?.negotiatedRate && entity.state?.summary?.termDays)?' - ':''}}
                    {{(entity.state?.summary?.negotiatedRate)?entity.state?.summary?.negotiatedRate?.baseType?.code + ' + ' + entity.state?.summary?.negotiatedRate?.specialRate + '% ' + entity.state?.summary?.negotiatedRate?.periodicityType?.code:''}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'FINANCIAL_CONDITIONS_TABLE.STATUS' | translate }}
            </th>
            <td mat-cell *matCellDef="let entity">
                <div style="align-items: center;" fxLayout="row wrap"fxLayoutGap="8px">
                    <circle-chip [status]="entity.state.status"></circle-chip>
                    <span>{{ 'FINANCIAL_CONDITIONS_TABLE.STATUS_OPTIONS.' + entity.state.status | translate}}</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
