<mat-progress-bar
    *ngIf="(isSubmitting$ | async)"
    mode="indeterminate"
></mat-progress-bar>

<h2 mat-dialog-title>
    {{ 'UPDATE_QUOTA_DIALOG.TITLE' | translate }}
</h2>

<div mat-dialog-content>
    <update-quota-form #form (onSubmit)="onSubmit($event)"></update-quota-form>
</div>

<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-flat-button (click)="dialogRef.close()">
        {{ 'COMMON.ACTIONS.CANCEL' | translate }}
    </button>
    <button
        [disabled]="form.shouldDisable()"
        mat-flat-button
        color="primary"
        (click)="form.submit()"
    >
        {{ 'COMMON.ACTIONS.UPDATE' | translate }}
    </button>
</div>
